.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* fraction*/
  margin-left: 100px;
}


.Modal {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 100px;
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.App-header {
  background-color: #fdcd07;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: initial;
  justify-content: center;
  font-size: 100px;
  color: #333;
}
.logo {
  float: left;
  height: 100px;
  transition: all 0.3s ease;
  padding-left: 10px;
  padding-top: 5px;
}

.header {
  width: 50%;
  height: 100%;
  margin-right: 10px;
  margin-left: 100px;
  float: left;
  padding: 20px;
}
.child_header {
  float: left;
  margin-right: 10px;

  margin-left: 100px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
